{% extends 'base.html' %}

{% block head %}
<title>Dashboard</title>
<link rel="stylesheet" href="{{  url_for('static', filename='css/view_stats.css')  }}">
{% endblock %}

{% block body %}
{% include 'dialog.html' %}
<body>
    <header id="app-title-bar">
        <div id="user-menu">
            <a href="{{url_for('settings')}}" id="user-settings" role="button"><i class="bi bi-person-circle"></i></a>
            <span>Welcome back, {{user.user_name}}!</span>
        </div>
        <span id="app-title">MyKanban</span>
        <a href="{{url_for('logout')}}">Logout</a>
    </header>
    <div id="dash">
        <div id="upper-bar">
            <h3 class="view-hdr">Summary</h3>
        </div>
        <div id="left-bar">
            <a href="{{url_for('boards')}}" class="views views-unsel" role="button"><i class="bi bi-grid-1x2-fill"></i></a>
            <a href="{{url_for('lists')}}" class="views views-unsel" role="button"><i class="bi bi-kanban"></i></a>
            <a href="{{url_for('dashboard_stats')}}" class="views views-current" role="button"><i class="bi bi-bar-chart-line"></i></a>
        </div>
        <div id="container">
            <div class="pane" id="option-pane">
                <p>This page summarizes all your boards, lists and cards.</p>
                <hr>
                <p>You can get summaries for a particular board or list:</p>
                <form id="summary-form" action="{{url_for('dashboard_stats')}}" method="POST">
                    <select name="get_stats" id="get_stats" required>
                        <option value="" disabled selected>Select a board or a list</option>
                        <optgroup label="Boards">
                            {% for board in user.boards %}
                                <option value='{"stats_for": "board", "stats_of": {{board.board_id}}}' onclick="submit()">{{board.board_name}}</option>
                            {% endfor %}
                        </optgroup>
                        <optgroup label="Lists">
                            {% for board in user.boards %}
                                {% for list in board.lists %}
                                    <option value='{"stats_for": "list", "stats_of": {{list.list_id}}}' onclick="submit()">[{{board.board_name}}] {{list.list_name}}</option>
                                {% endfor %}
                            {% endfor %}
                        </optgroup>
                    </select>
                    <input class="btn" type="submit" value="Get summary">
                </form>
                <p>Or get your overall summary:</p>
                <a class="btn" href="{{url_for('dashboard_stats')}}">Overall summary</a>
            </div>
            <div class="pane" id="stats-pane">
        {% if stats_for == 'user' %}
            {% if not empty_user %}
                <div>
                    <span>App</span>
                    <h2>Overall</h2>
                    <div class="text">boards<div class="num">{{stats.boards}}</div></div>
                    <div class="text">lists<div class="num">{{stats.lists}}</div></div>
                    <div class="text">cards<div class="num">{{stats.cards}}</div></div>
                </div>
                <div>
                    <h2>Card-wise Breakdown</h2>
                    <div id="card-breakdown">
                        {% if stats['completed']|length != 0 %}
                        <div>
                            <p class="cards-hdr"><strong>Completed (<span>{{stats['completed']|length}}</span>)</strong></p>
                            <div class="cards">
                                {% for card in stats['completed'] %}
                                <div class="card"><span>{{card.title}}</span><a href="{{url_for('dashboard_lists', board_id=card.list.board.board_id)}}"><i class="bi bi-box-arrow-up-right"></i></a></div>
                                {% endfor %}
                            </div>
                        </div>
                        {% endif %}
                        
                        {% if stats['pending']|length != 0 %}
                        <div>
                            <p class="cards-hdr"><strong>Pending (<span>{{stats['pending']|length}}</span>)</strong></p>
                            <div class="cards">
                                {% for card in stats['pending'] %}
                                    <div class="card">
                                        <span>{{card.title}}</span>
                                        <a href="{{url_for('dashboard_lists', board_id=card.list.board.board_id)}}"><i class="bi bi-box-arrow-up-right"></i></a>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        {% endif %}
                        
                        {% if stats['overdue']|length != 0 %}
                        <div>
                            <p class="cards-hdr"><strong>Overdue (<span>{{stats['overdue']|length}}</span>)</strong></p>
                            <div class="cards">
                                {% for card in stats['overdue'] %}
                                    <div class="card"><span>{{card.title}}</span><a href="{{url_for('dashboard_lists', board_id=card.list.board.board_id)}}"><i class="bi bi-box-arrow-up-right"></i></a></div>
                                {% endfor %}
                            </div>
                        </div>
                        {% endif %}
                    </div>
                    <div id="charts">
                        <div>
                            <img src="{{  url_for('static', filename='img/user_'+ user.id|string + '_timeline.png')  }}" alt="card completion timeline">
                        </div>
                        <div id="piechart">
                            <img id="pie" src=" {{url_for('static', filename='img/user_'+ user.id|string + '_card_breakdown_chart.png') }}" alt="piechart">
                        </div>
                    </div>
                    <hr>
                    <form id="timeline-form" action="/dashboard/{{user.id}}/stats/user_timeline" method="POST">
                        <p>Show timeline</p>
                        <label for="start_date">from 
                            <input type="date" name="start_date" id="start_date" required>
                        </label>
                        <label for="end_date">to  
                            <input type="date" name="end_date" id="end_date" required>
                        </label>
                        <input class="btn" type="submit" value="Go">
                    </form>
                    <p>(Date range must be between 7 and 21 days)</p>
                </div>
            {% else %}
                <span>You do not have any boards. No statistics to display.</span>
            {% endif %}




            {% elif stats_for == 'board' %}
            {% if not empty_board %}
                <div>
                    <span>App > {{entity.board_name}}</span>
                    <h1>{{entity.board_name}}</h1>
                    <div class="text">lists<div class="num">{{stats.lists}}</div></div>
                    <div class="text">cards<div class="num">{{stats.cards}}</div></div>
                </div>
                <div>
                    <h2>Card-wise Breakdown</h2>
                    <div id="card-breakdown">
                        {% if stats['completed']|length != 0 %}
                        <div>
                            <p class="cards-hdr"><strong>Completed (<span>{{stats['completed']|length}}</span>)</strong></p>
                            <div class="cards">
                                {% for card in stats['completed'] %}
                                <div class="card"><span>{{card.title}}</span><a href="{{url_for('dashboard_lists', board_id=card.list.board.board_id)}}"><i class="bi bi-box-arrow-up-right"></i></a></div>
                                {% endfor %}
                            </div>
                        </div>
                        {% endif %}
                        
                        {% if stats['pending']|length != 0 %}
                        <div>
                            <p class="cards-hdr"><strong>Pending (<span>{{stats['pending']|length}}</span>)</strong></p>
                            <div class="cards">
                                {% for card in stats['pending'] %}
                                    <div class="card">
                                        <span>{{card.title}}</span>
                                        <a href="{{url_for('dashboard_lists', board_id=card.list.board.board_id)}}"><i class="bi bi-box-arrow-up-right"></i></a>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        {% endif %}
                        
                        {% if stats['overdue']|length != 0 %}
                        <div>
                            <p class="cards-hdr"><strong>Overdue (<span>{{stats['overdue']|length}}</span>)</strong></p>
                            <div class="cards">
                                {% for card in stats['overdue'] %}
                                    <div class="card"><span>{{card.title}}</span><a href="{{url_for('dashboard_lists', board_id=card.list.board.board_id)}}"><i class="bi bi-box-arrow-up-right"></i></a></div>
                                {% endfor %}
                            </div>
                        </div>
                        {% endif %}
                    </div>
                    <div id="charts">
                        <div>
                            <img src="{{  url_for('static', filename='img/board_'+ entity.board_id|string + '_timeline.png')  }}" alt="card completion timeline">
                        </div>
                        <div id="piechart">
                            <img id="pie" src=" {{url_for('static', filename='img/board_'+ entity.board_id|string + '_card_breakdown_chart.png') }}" alt="piechart">
                        </div>
                    </div>
                    <hr>
                    <form id="timeline-form" action="/dashboard/{{entity.board_id}}/stats/board_timeline" method="POST">
                        <p>Show timeline</p>
                        <label for="start_date">from 
                            <input type="date" name="start_date" id="start_date" required>
                        </label>
                        <label for="end_date">to 
                            <input type="date" name="end_date" id="end_date" required>
                        </label>
                        <input class="btn" type="submit" value="Go">
                    </form>
                    <p>(Date range must be between 7 and 21 days)</p>
                </div>
            {% else %}
                <span>Board is empty. No statistics to display.</span>
            {% endif %}




        {% elif stats_for == 'list' %}
            {% if not empty_list %}
                <div>
                    <span>App > {{entity.board.board_name}} > {{entity.list_name}}</span>
                    <h1>{{entity.list_name}}</h1>
                    <div class="text">cards<div class="num">{{stats.cards}}</div></div>
                </div>
                <div>
                    <h2>Card-wise Breakdown</h2>
                    <div id="card-breakdown">
                        {% if stats['completed']|length != 0 %}
                        <div>
                            <p class="cards-hdr"><strong>Completed (<span>{{stats['completed']|length}}</span>)</strong></p>
                            <div class="cards">
                                {% for card in stats['completed'] %}
                                <div class="card"><span>{{card.title}}</span><a href="{{url_for('dashboard_lists', board_id=card.list.board.board_id)}}"><i class="bi bi-box-arrow-up-right"></i></a></div>
                                {% endfor %}
                            </div>
                        </div>
                        {% endif %}
                        
                        {% if stats['pending']|length != 0 %}
                        <div>
                            <p class="cards-hdr"><strong>Pending (<span>{{stats['pending']|length}}</span>)</strong></p>
                            <div class="cards">
                                {% for card in stats['pending'] %}
                                    <div class="card">
                                        <span>{{card.title}}</span>
                                        <a href="{{url_for('dashboard_lists', board_id=card.list.board.board_id)}}"><i class="bi bi-box-arrow-up-right"></i></a>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        {% endif %}
                        
                        {% if stats['overdue']|length != 0 %}
                        <div>
                            <p class="cards-hdr"><strong>Overdue (<span>{{stats['overdue']|length}}</span>)</strong></p>
                            <div class="cards">
                                {% for card in stats['overdue'] %}
                                    <div class="card"><span>{{card.title}}</span><a href="{{url_for('dashboard_lists', board_id=card.list.board.board_id)}}"><i class="bi bi-box-arrow-up-right"></i></a></div>
                                {% endfor %}
                            </div>
                        </div>
                        {% endif %}
                    </div>
                    <div id="charts">
                        <div>
                            <img src="{{  url_for('static', filename='img/list_'+ entity.list_id|string + '_timeline.png')  }}" alt="card completion timeline">
                        </div>
                        <div id="piechart">
                            <img id="pie" src=" {{url_for('static', filename='img/list_'+ entity.list_id|string + '_card_breakdown_chart.png') }}" alt="piechart">
                        </div>
                    </div>
                    <hr>
                    <form id="timeline-form" action="/dashboard/{{entity.list_id}}/stats/list_timeline" method="POST">
                        <p>Show timeline</p>
                        <label for="start_date">from 
                            <input type="date" name="start_date" id="start_date" required>
                        </label>
                        <label for="end_date">to  
                            <input type="date" name="end_date" id="end_date" required>
                        </label>
                        <input class="btn" type="submit" value="Go">
                    </form>
                    <p>(Date range must be between 7 and 21 days)</p>
                </div>
            {% else %}
                <span>List is empty. No statistics to display.</span>
            {% endif %}
        {% endif %}
            </div>
        </div>
    </div>
</body>
{% endblock %}